
<div class="container" *ngIf="islogged">
    <header class="border-bottom lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 text-center">
          <a class="blog-header-logo text-body-emphasis text-decoration-none" [routerLink]="['/']" routerLinkActive="router-link-active">Blog App</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <button (click)="logout()" class="btn btn-sm btn-outline-secondary">Log Out</button>
        </div>
      </div>
    </header>
  
    <div class="nav-scroller py-1 mb-3 border-bottom">
      <nav class="nav nav-underline justify-content-between">
        <a class="nav-item nav-link link-body-emphasis" routerLink="">Home</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="blogEdit/0">Crear post</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="user">User</a>
      </nav>
    </div>
  </div>

<main class="container">
    
<router-outlet></router-outlet>
   
  </main>