<!--<div class="container">
    <h2>Blog Entries</h2>
  
    <div class="mb-3">
      <label for="categoryFilter" class="form-label">Filter by Category</label>
      <select id="categoryFilter" class="form-select" [(ngModel)]="selectedCategory">
        <option *ngFor="let category of categories" [value]="category.Id">{{ category.Name }}</option>
      </select>
    </div>
  
    <div *ngFor="let blog of filteredBlogs" class="card mb-3">
      <img [src]="blog.ImageUrl" class="card-img-top" alt="Blog Image">
      <div class="card-body">
        <h5 class="card-title">{{ blog.Title }}</h5>
        <p class="card-text">{{ blog.Content }}</p>
        <p class="card-text"><small class="text-muted">Published on {{ blog.PublishDate | date }}</small></p>
      </div>
    </div>
  </div>
  -->